<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
{% load staticfiles %}

<head>
    <title>{% block title %}{% endblock title %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
          type="text/css">
    <link rel="stylesheet" href="{% static 'css/theme.css' %}" type="text/css">
</head>

<body>
<nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <div class="container">
        <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse"
                data-target="#navbar18">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar18"><a class="navbar-brand d-none d-md-block"
                                                               href="{% url 'goods:index' %}">
            <i class="fa d-inline fa-lg fa-circle"></i>
            <b> 首页</b>
        </a>
            <ul class="navbar-nav mx-auto">
                <form class="form-inline my-lg-0 my-2 ml-5">
                    <input class="form-control mr-sm-2" type="text" placeholder="商品">
                    <button class="btn my-2 my-sm-0 btn-primary" type="submit">搜索</button>
                </form>
            </ul>
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                    <li class="nav-link nav-item">欢迎您：{{ user.username }}</li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'user:logout' %}">退出</a></li>
                {% else %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'user:login' %}">登陆</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'user:register' %}">注册</a></li>
                {% endif %}
                <li class="nav-item"><a class="nav-link text-white" href="{% url 'user:user' %}">用户中心</a></li>
                <li class="nav-item"><a class="nav-link text-white" href="{% url 'cart:show' %}">我的购物车</a></li>
                <li class="nav-item"><a class="nav-link text-white" href="{% url 'user:order' 1 %}">我的订单</a></li>
            </ul>
        </div>
    </div>
</nav>
{% block body %}{% endblock body %}
<div class="py-3 bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center d-md-flex align-items-center bg-primary"><i
                    class="d-block fa fa-stop-circle mr-md-5 text-muted fa-2x"></i>
                <ul class="nav mx-md-auto d-flex justify-content-center">
                    <li class="nav-item"><a class="nav-link active text-white" href="#">Home</a></li>
                    <li class="nav-item"><a class="nav-link text-white" href="#">Features</a></li>
                    <li class="nav-item"><a class="nav-link text-white" href="#">Pricing</a></li>
                    <li class="nav-item"><a class="nav-link text-white" href="#">About</a></li>
                </ul>
                <div class="row">
                    <div class="col-md-12 d-flex align-items-center justify-content-md-between justify-content-center my-2">
                        <a href="#">
                            <i class="d-block fa fa-facebook-official text-muted fa-lg mx-2"></i>
                        </a> <a href="#">
                        <i class="d-block fa fa-instagram text-muted fa-lg mx-2"></i>
                    </a> <a href="#">
                        <i class="d-block fa fa-twitter text-muted fa-lg ml-2"></i>
                    </a></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <p class="mt-2 mb-0">© 2014-2018 Pingendo. All rights reserved</p>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
{% block topfiles %}{% endblock topfiles %}
</body>

</html>