{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}评论{% endblock title %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card text-white bg-primary mb-3">
                    <div class="card-header">
                        <div class="row pi-draggable" draggable="true">
                            <div class="col-md-3">
                                <h6 class="mb-0">{{ order.create_time }}</h6>
                            </div>
                            <div class="col-md-3">
                                <div class="row pi-draggable">
                                    <div class="col-md-3 px-0 text-right">
                                        <h6 class="mb-0">订单号：</h6>
                                    </div>
                                    <div class="col-md-9 px-0">
                                        <h6 class="mb-0 text-left">{{ order.order_id }}</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <h6 class="mb-0">{{ order.status_name }}</h6>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-2">
                                <img class="img-fluid d-block" src="https://static.pingendo.com/img-placeholder-1.svg">
                            </div>
                            <div class="col-md-6 py-4" draggable="true">
                                <div class="mb-0 my-3" style="">
                                    <div class="row pi-draggable" draggable="true">
                                        <div class="col-md-5 px-0">
                                            <h5 class="my-1">{{ order.order_sku.sku.name }}</h5>
                                        </div>
                                        <div class="col-md-3 px-0">
                                            <h5 class="my-1">{{ order.order_sku.price }}元/{{ order.order_sku.sku.unite }}</h5>
                                        </div>
                                        <div class="col-md-1 px-0">
                                            <h5 class="my-1">1</h5>
                                        </div>
                                        <div class="col-md-3 px-0">
                                            <h5 class="my-1">{{ order.order_sku.amount }}</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mx-auto col-md-4">
                                <form method="post">
                                    {% csrf_token %}
                                    <div class="form-group">
                                    <textarea class="form-control" name="content" id="form35" rows="3"
                                              placeholder="评论"></textarea>
                                    </div>
                                    <button type="submit" class="btn btn-outline-danger btn-block active">Send</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
